<div>
  <h2>New Address</h2>
  {% form 'customer_address', address, class: '' %}

  {{ form.errors | default_errors }}

  <div>
    <label for="first_name">First Name</label>
    <input type="text" value="{{ form.first_name }}" name="address[first_name]" size="30" />
  </div>

  <div>
    <label for="last_name">Last Name</label>
    <input type="text" value="{{ form.last_name }}" name="address[last_name]" size="30" />
  </div>

  <div>
    <label for="company">Company</label>
    <input type="text" value="{{ form.company }}" name="address[company]" />
  </div>

  <div>
    <label for="address1">Address 1</label>
    <input type="text" value="{{ form.address1 }}" name="address[address1]" />
  </div>

  <div>
    <label for="address2">Address 2</label>
    <input type="text" value="{{ form.address2 }}" name="address[address2]" />
  </div>

  <div>
    <label for="city">City</label>
    <input type="text" value="{{ form.city }}" name="address[city]" />
  </div>

  <div>
    <label for="country">Country</label>
    <select name="address[country]" value="{{ form.country }}" data-country-selector data-form-id="{{ form.id }}">
      {{ all_country_option_tags }}
    </select>
  </div><!-- See docs for @shopify/theme-addresses to support Country and Province -->

  <div>
    <label for="province">Province</label>
    <select id="province-{{ form.id }}" value="{{ form.province }}" name="address[province]"></select>
  </div>

  <div>
    <label for="zip">Zip/Post Code</label>
    <input type="text" value="{{ form.zip }}" name="address[zip]" />
  </div>

  <div>
    <label for="phone">Phone Number</label>
    <input type="tel" value="{{ form.phone }}" name="address[phone]" />
  </div>

  <div>
    {{ form.set_as_default_checkbox }}
    <label for="address_default_address_{{ form.id }}">Set as default address</label>
  </div>

  <button type="submit">{{ main_cta }}</button>
  <button type="reset">Reset</button>

  {% endform %}
</div>