{% if section.settings.menu.links == blank %}
  {% assign main_menu_linklist = linklists[section.settings.menu].links %}
{% else %}
  {% assign main_menu_linklist = section.settings.menu.links %}
{% endif %}

<div class="relative bg-white" x-data="{ mobileMenuOpen: false }">
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-center items-center py-6 md:justify-start md:space-x-10">
      <!-- name / logo -->
      <h1 class="text-xl font-bold truncate">
        {{ shop.name }}
      </h1>

      <div class="-mr-2 -my-2 md:hidden">
        <button x-on:click="mobileMenuOpen = true" type="button" class="bg-white p-2 inline-flex items-center justify-center focus:outline-none">
          {% render 'icon-menu' %}
        </button>
      </div>

      <!-- nav menu -->
      <nav class="hidden md:flex space-x-10">
        {% for link in main_menu_linklist %}
          {% if link.links != blank %}
            {% assign index = link.handle | replace: '-', '_' %}
            <!-- NOTE: this handles multiple single-level dropdown menus; but it doesn't handle multi-level dropdown menus -->
            <!-- TODO: handle multi-level nested dropdown menus -->
            <div class="relative" x-data="{ nav_open_{{index}}: false }">
              <button x-on:click="nav_open_{{index}} = !nav_open_{{index}}" class="inline-flex items-center">
                {{ link.title }}
                {% render 'icon-chevron-down', class: 'w-3 h-3 ml-2' %}
              </button>

              <div
                x-transition:enter="transition ease-out duration-100"
                x-transition:enter-start="opacity-0 translate-y-3"
                x-transition:enter-end="opacity-100 translate-y-0"
                x-transition:leave="transition ease-out duration-100"
                x-transition:leave-start="opacity-100 translate-y-0"
                x-transition:leave-end="opacity-0 translate-y-3"
                x-show="nav_open_{{index}}"
                @click.away="nav_open_{{index}}=false"
                class="absolute z-10 ml-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
              >
                <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
                  <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                    {% for link in link.links %}
                      <a href="{{ link.url }}" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-100">
                        <div class="ml4 text-gray-900 text-base font-medium">{{ link.title }}</div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            {% assign isActive = link.current %}
            <a href="{{ link.url }}" class="text-base text-gray-500 hover:text-gray-700 {% if link.current %}
              text-red-600
            {% endif %}">
              {{ link.title }}
            </a>
          {% endif %}
        {% endfor %}
      </nav>

      <!-- cart -->
      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <a href="/cart" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
          {% render 'icon-shopping-bag' %}
        </a>

        {% if shop.customer_account_enabled or shop.customer_accounts_optional %}
          {% if customer %}
            <a href="/account">Account</a>
            {{ 'Sign out' | customer_logout_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
          {% else %}
            {{ 'Sign in' | customer_login_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
            {{ 'Sign up' | customer_register_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
          {% endif %}
        {% endif %}
      </div>

      <!-- mobile menu -->
      <div x-show="mobileMenuOpen" class="absolute z-10 top-0 inset-x-0 transform origin-top-left md:hidden">
        <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
          <div class="p-5 divide-y-2 divide-gray-50">
            <!-- title, close -->
            <div class="flex items-center justify-between pb-3">
              <h1 class="text-lg text-gray-500">
                {{ section.settings.mobile_menu_title }}
              </h1>
              <button x-on:click="mobileMenuOpen=false" class="p-2 text-gray-500">
                {% render 'icon-x' %}
              </button>
            </div>

            <!-- nav links -->
            <nav class="pt-3 grid gap-y-7">
              {% for link in main_menu_linklist %}
                {% if link.links != blank %}
                  <div class="relative">
                    <button class="flex justify-between items-center w-full">
                      {{link.title}}
                      {% render 'icon-chevron-down', class: 'w-3 h-3 ml-2' %}
                    </button>

                    <div class="relative grid gap-y-7 py-3">
                      {% for link in link.links %}
                        <a href="{{ link.url }}" class="ml-2 text-gray-900 text-base font-medium">
                          {{ link.title }}
                        </a>
                      {% endfor %}
                    </div>
                  </div>
                {% else %}
                  <a href="{{link.url}}">{{link.title}}!!</a>
                {% endif %}
              {% endfor %}
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Heading Navigation Menu"
    },
    {
      "type": "text",
      "id": "mobile_menu_title",
      "default": "Mobile menu",
      "label": "Mobile menu title"
    }
  ]
}
{% endschema %}