{{ 'header.css' | asset_url | stylesheet_tag }}

{% if section.settings.menu.links == blank %}
  {% assign main_menu_linklist = linklists[section.settings.menu].links %}
{% else %}
  {% assign main_menu_linklist = section.settings.menu.links %}
{% endif %}

<div x-data="{ mobileMenuOpen: true, searchBarOpen: false }">
  <div>
    <!-- name / logo -->
    <h1 class="desktop-only">
      {{ shop.name }}
    </h1>

    <!-- desktop nav menu -->
    <nav class="desktop-only">
      {% for link in main_menu_linklist %}
        {% if link.links != blank %}
          {% assign index = link.handle | replace: '-', '_' %}
          <!-- NOTE: this handles multiple single-level dropdown menus; but it doesn't handle multi-level dropdown menus -->
          <!-- TODO: handle multi-level nested dropdown menus -->
          <div x-data="{ nav_open_{{ index }}: false }">
            <button x-on:click="nav_open_{{ index }} = !nav_open_{{ index }}">
              {{ link.title }}
              {% render 'icon-chevron-down', class: '' %}
            </button>

            <div
              x-transition:enter="transition ease-out duration-100"
              x-transition:enter-start="opacity-0 translate-y-3"
              x-transition:enter-end="opacity-100 translate-y-0"
              x-transition:leave="transition ease-out duration-100"
              x-transition:leave-start="opacity-100 translate-y-0"
              x-transition:leave-end="opacity-0 translate-y-3"
              x-show="nav_open_{{ index }}"
              @click.away="nav_open_{{ index }}=false"
            >
              <div>
                <div>
                  {% for link in link.links %}
                    <a href="{{ link.url }}">
                      <div>{{ link.title }}</div>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% else %}
          {% assign isActive = link.current %}
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
        {% endif %}
      {% endfor %}
    </nav>

    <!-- top right menu (search, cart, account, menu) -->
    <div class="primary-icon-set">
      <button x-on:click="searchBarOpen = true" class="nav-icon">
        {% render 'icon-search' %}
      </button>

      <a href="{{ routes.cart_url }}" class="nav-icon">
        {% render 'icon-shopping-bag' %}
      </a>

      <div class="desktop-only">
        {% if shop.customer_account_enabled or shop.customer_accounts_optional %}
          {% if customer %}
            <a href="{{ routes.account_url }}">Account</a>
            {{ 'Sign out' | customer_logout_link | replace: '<a', '<a' }}
          {% else %}
            {{ 'Sign in' | customer_login_link | replace: '<a', '<a' }}
            {{ 'Sign up' | customer_register_link | replace: '<a', '<a' }}
          {% endif %}
        {% endif %}
      </div>

      <!-- mobile nav icon -->
      <button x-on:click="mobileMenuOpen = true" type="button" class="nav-icon">
        {% render 'icon-menu' %}
      </button>
    </div>

    <!-- mobile menu -->
    <div x-cloak class="mobile-nav" :class="mobileMenuOpen ? 'mobile-nav--open' : ''">
      <div>
        <!-- title, close -->
        <div>
          <h1>
            {{ section.settings.mobile_menu_title }}
          </h1>
          {% render 'icon-x', class: 'mobile-nav__close-btn', onClick: 'mobileMenuOpen=false' %}
        </div>

        <!-- nav links -->
        <nav class="mobile-nav__links-wrapper">
          {% for link in main_menu_linklist %}
            {% if link.links != blank %}
              {% comment %} for items with nesting {% endcomment %}
              <div>
                <button>
                  {{ link.title }}$$$
                  {% render 'icon-chevron-down' %}
                </button>

                <div>
                  {% comment %} nested children {% endcomment %}
                  {% for link in link.links %}
                    <a href="{{ link.url }}">
                      {{ link.title }}!!!
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              {% comment %} for non nested items {% endcomment %}
              <a class="mobile-nav__link" href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
          {% endfor %}
        </nav>
      </div>
    </div>
  </div>

  <!-- search bar -->
  <div x-cloak x-show="searchBarOpen">
    <!-- close button -->
    <button x-on:click="searchBarOpen = false">
      {% render 'icon-x' %}
    </button>

    <!-- form -->
    <form action="{{ routes.search_url }}">
      <input type="search" name="q" placeholder="Type and press enter">
      <button type="submit">Search</button>
    </form>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Heading Navigation Menu"
    },
    {
      "type": "text",
      "id": "mobile_menu_title",
      "default": "Mobile menu",
      "label": "Mobile menu title"
    }
  ]
}
{% endschema %}