<!-- 4 types of media - photo, video, embedded video (YT), 3d models -->

<style>
  /* remove header from product page */
  #shopify-section-header {
    display: none;
  }
</style>

<!-- swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<style>
  .swiper-button-prev, .swiper-button-next {
    height: 20px;
    color: #fff;
    /* top: auto; */
  }
  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 20px;
    font-weight: bold;
  }
  /* .swiper-pagination {
    bottom: 0 !important;
  } */
  .swiper-pagination-bullet {
    background-color: #fff;
  }
  .swiper-pagination-bullet-active {
    background-color: #fff;
  }
</style>

<div class="bg-omega-100 text-gray-100 relative h-screen">
  <a href="" class="absolute z-50 top-5 left-5 bg-omega-200 text-gray-200 flex p-2 pl-1 rounded-3xl text-xs items-center opacity-80">
    {% render 'icon-chevron-down', class: 'rotate-90 w-4 h-4 font-extrabold' %} Back
  </a>

  <!-- media -->
  <div class="w-full h-94">
    <div class="swiper h-full">
      <div class="swiper-wrapper">
        {% for media in product.media %}
          <div class="swiper-slide">
            <div class="h-80 rounded-b-3xl overflow-hidden">
              {% render 'product-media', media: media, class: 'h-full' %}
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- swiper controls -->
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <!-- information -->
  <div class="product--information p-5">
    
    {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
      {% assign selected_variant = product.selected_or_first_available_variant %}

      <input type="hidden" name="id" value="{{ selected_variant.id }}">

      <div class="flex">
        <div>
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'vendor' %}
                <div class="uppercase text-xs font-bold text-gray-400">{{ product.vendor }}</div>
              
              {% when 'title' %}
                <h1 class="font-light mt-1">{{ product.title }}</h1>
              
            {% endcase %}
          {% endfor %}
        </div>
        <div class="shrink-0">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'price' %}
                <div id="price-{{ section.id }}" class="text-center">
                  <div class="line-through text-sm text-red-900">{{ selected_variant.compare_at_price | money }}</div>
                  <div>{{ selected_variant.price | money }}</div>
                  {% if selected_variant.compare_at_price > selected_variant.price %}
                    <!-- <span>On Sale!</span> -->
                  {% endif %}
                </div>
              
            {% endcase %}
          {% endfor %}
        </div>
      </div>

      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'variant_selector' %}
            {% unless product.has_only_default_variant %}
              <variant-selector
                data-url="{{ product.url }}"
                data-section="{{ section.id }}"
              >
                {% for option in product.options_with_values %}
                  <label for="option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
                  <div>
                    <select
                      name="options[{{ option.name | escape }}]"
                      id="option-{{ section.id }}-{{ forloop.index0 }}"
                    >
                      {% for value in option.values %}
                        <option
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}
                            selected="selected"
                          {% endif %}
                        >
                          {{ value | escape }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>

                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>

                {% endfor %}
              </variant-selector>
            {% endunless %}
          
          {% when 'quantity' %}
            <div>
              <label for="quantity-{{ section.id }}">Quantity</label>
              <input class="border p-2" type="number" name="quantity" value="1" min="1" id="quantity-{{ section.id }}">
            </div>
          
          {% when 'description' %}
            <div>{{ product.description }}</div>
          
          {% when 'checkout_buttons' %}
            <div>
              {% if selected_variant.available %}
                <button type="submit" name="add">
                  Add to cart
                </button>
              {% else %}
                Sold out!
              {% endif %}
              <!-- <button type="submit">
                Checkout
              </button> -->
            </div>
        {% endcase %}
      {% endfor %}
      
    {% endform %}
  </div>
</div>


<div class="grid grid-cols-1 md:grid-cols-2 gap-3 hidden">
  <!-- media -->
  <div class="product--media">
    <div class="md:block hidden">
      {% for media in product.media %}
        <div class="h-100">
          {% render 'product-media', media: media %}
        </div>
      {% endfor %}
    </div>

    <div class="md:hidden">
      <!-- swiper carousel -->
      
    </div>
  </div>
  
  
</div>

<script>
  class VariantSelector extends HTMLElement {
    constructor () {
      super()
      this.addEventListener('change', this.onChange)
    }

    onChange (data) {
      this.getSelectedOptions()
      this.getSelectedVariant()
      if (this.currentVariant) {
        this.updateUrl()
        this.updateFormId()
        this.updatePrice()
      }
    }

    getSelectedOptions () {
      this.options = Array.from(this.querySelectorAll('select'), select => select.value)
    }

    getSelectedVariant () {
      this.currentVariant = this.getVariantJson().find(variant => {
        const findings = !variant.options.map((option, index) => this.options[index] === option)
          .includes(false)

        if (findings) {
          return variant
        }
      })
    }

    getVariantJson () {
      this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent)
      return this.variantData
    }

    updateUrl () {
      window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`)
    }

    updateFormId () {
      const form = document.querySelector('#product-form')
      const input = form.querySelector('input[name="id"')

      input.value = this.currentVariant.id
    }

    updatePrice () {
      fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
        .then(res => res.text())
        .then(text => {
          const html = new DOMParser().parseFromString(text, 'text/html')
          
          const id = `price-${this.dataset.section}`
          const oldPrice = document.getElementById(id)
          const newPrice = html.getElementById(id)

          if (oldPrice && newPrice) {
            oldPrice.innerHTML = newPrice.innerHTML
          }
        })
    }
  }
  
  customElements.define("variant-selector", VariantSelector)
</script>

<script>
  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',
    pagination: {
      el: '.swiper-pagination'
    },
    navigation: {
      prevEl: '.swiper-button-prev',
      nextEl: '.swiper-button-next'
    }
  })
</script>

{% schema %}
{
  "name": "Template Product",
  "blocks": [
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "variant_selector",
      "name": "Variant selector",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "checkout_buttons",
      "name": "Checkout buttons",
      "limit": 1
    }
  ]
}
{% endschema %}