<h1>My Account</h1>

<!-- {% assign order_count = customer.orders | size %}
{% if order_count > 0 %}
  as {{order_count}}
{% endif %} -->

{% paginate customer.orders by 10 %}
  {% if customer.orders.size != 0 %}
    {% for order in customer.orders %}
      <!-- order details here -->
      {{ order.name | link_to: order.customer_url }}

      {% if order.line_items.first.image %}
        <img
          src="{{ order.line_items.first.image | img_url: 'medium' }}"
          alt="{{ order.line_items.first.image.alt }}"
        >
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'w-20 h-20 object-cover' }}
      {% endif %}

      <div>{{ order.financial_status_label }}</div>
      <div>{{ order.fulfillment_status_label }}</div>
      <div>{{ order.total_price | money }}</div>
    {% endfor %}

  {% else %}
    <p>You haven't placed any orders yet.</p>
  {% endif %}

  {% render 'pagination', paginate: paginate %}
{% endpaginate %}

<div>
  <h2>Address</h2>

  {{ customer.default_address | format_address }}

  <a href="{{ routes.account_addresses_url }}">View addresses</a>
</div>

<!-- {% if customer.default_address %}
  <h2>Address</h2>
  <p>{{ customer.default_address.address1 }}</p>
  {% if customer.default_address.address2 != "" %}
    <p>{{ customer.default_address.address2 }}</p>
  {% endif %}
  <p>{{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
  <p>{{ customer.default_address.zip }}</p>
  <p>{{ customer.default_address.phone }}</p>
{% endif %} -->
