{% for block in section.blocks %}
  {% case block.type %}
    {% when 'bla_article_title' %}
      <h1>{{ article.title }}</h1>
    {% when 'author' %}
      {% if section.settings.enable_author %}
        <small>Written by {{ article.author }}</small>
      {% endif %}
    {% when 'published_date' %}
      {% if section.settings.enable_date %}
        {% assign publishedData = article.published_at | date: "%B %e, %Y" %}
        <time datetime="{{ publishedData }}">Published on {{ publishedData }}</time>
      {% endif %}
    {% when 'featured_image' %}
      <!-- <img src="{{ article.image | img_url: 'large' }}" alt="{{article.image.alt}}"> -->
    {% when 'article_content' %}
      <!-- <div>{{ article.content }}</div> -->
    {% else %}
      <div>Unknown block!</div>
  {% endcase %}
{% endfor %}

{% if blog.comments_enabled? %}
  <div id="comments" class="mt-7">
    <!-- show comments -->
    {% if article.comments_count > 0 %}
      <div>
        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div id="{{comment.id}}">
              <div>{{ comment.author }}</div>
              <div>Posted on {{ comment.created_at | date: "%B %e, %Y" }}</div>
              <p class="text-small">{{ comment.content }}</p>
            </div>
          {% endfor %}

          {% if paginate.pages > 1 %}
            {{ paginate | default_pagination }}
          {% endif %}
        {% endpaginate %}
      </div>
    {% else %}
      No comments available.
    {% endif %}
  </div>

  <!-- comments form -->
  <div id="comments-form" class="mt-7">
    {% form 'new_comment', article %}
      <!-- show errors (if any) -->
      {% if form.errors %}
        Please check errors!
        <ul>
          {% for error in form.errors %}
            <li>{{ form.errors.messages[error] }}</li>
          {% endfor %}
        </ul>
      <!-- show success msg -->
      {% elsif form.posted_successfully? %}
        Comment posted successfully!
      {% endif %}

      <div class="mx-auto w-[300px]">
        <div class="flex flex-col mt-2">
          <label id="comment_author" class="text-gray-700 font-medium">Name</label>
          <input
            placeholder="Your name"
            id="comment_author"
            name="comment[author]"
            type="text"
            class="p-3 border rounded-sm"
          >
        </div>
        <div class="flex flex-col mt-2">
          <label id="comment_email" class="text-gray-700 font-medium">Email</label>
          <input
            placeholder="Your email"
            id="comment_email"
            name="comment[email]"
            type="email"
            class="p-3 border rounded-sm"
          >
        </div>
        <div class="flex flex-col mt-2">
          <label id="comment_body" class="text-gray-700 font-medium">Comment</label>
          <textarea
            placeholder="Your comment"
            id="comment_body"
            name="comment[body]"
            class="p-3 border rounded-sm resize-none"
          ></textarea>
        </div>
        <div class="mt-2">
          <input type="submit" class="w-full px-4 py-2 bg-green-700 text-white cursor-pointer rounded-sm" value="Post comment">
        </div>
      </div>
      <!-- <div
        class="mx-auto w-[300px]"
        x-data="{ fields: {
          1: { key: 'comment[author]', placeholder: 'Your name' },
          2: { key: 'email', placeholder: 'Your email' }
        } }"
      >
        <template x-for="[id, field] in Object.entries(fields)" :key="id">
          <div class="flex flex-col">
            <label
              x-bind:for="id"
              class="text-gray-700 font-medium"
              x-text="field.placeholder"
            ></label>
            <input :placeholder="field.placeholder" x-bind:name="id" type="text" class="p-3 border-2 rounded-sm">
          </div>
        </template>
      </div> -->
    {% endform %}
  </div>
{% endif %}


{% schema %}
{
  "name": "Template Article",
  "tag": "section",
  "class": "dummy",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "default": true,
      "label": "Show article author"
    },
    {
      "type": "checkbox",
      "id": "enable_date",
      "default": true,
      "label": "Show article date"
    }
  ],
  "blocks": [
    {
      "type": "bla_article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}