<article itemscope itemtype="https://schema.org/BlogPosting">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'bla_article_title' %}
        <h1 itemprop="headline">{{ article.title }}</h1>
      {% when 'author' %}
        {% if section.settings.enable_author %}
          <div itemscope itemtype="https://schema.org/Person">
            <small itemprop="author">Written by {{ article.author }}</small>
          </div>
        {% endif %}
      {% when 'published_date' %}
        {% if section.settings.enable_date %}
          {% assign publishedData = article.published_at | date: "%B %e, %Y" %}
          <time itemprop="datePublished dateCreated" datetime="{{ publishedData }}">Published on {{ publishedData }}</time>
        {% endif %}
      {% when 'featured_image' %}
        <img itemprop="image" src="{{ article.image | img_url: 'large' }}" alt="{{article.image.alt}}">
      {% when 'article_content' %}
        <div itemprop="articleBody">{{ article.content }}</div>
      {% else %}
        <div>Unknown block!</div>
    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments">
    <!-- show comments -->
    {% if article.comments_count > 0 %}
      <div>
        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div id="{{comment.id}}">
              <div>{{ comment.author }}</div>
              <div>Posted on {{ comment.created_at | date: "%B %e, %Y" }}</div>
              <p>{{ comment.content }}</p>
            </div>
          {% endfor %}

          {% if paginate.pages > 1 %}
            {{ paginate | default_pagination }}
          {% endif %}
        {% endpaginate %}
      </div>
    {% else %}
      No comments available.
    {% endif %}
  </div>

  <!-- comments form -->
  <div id="comments-form">
    {% form 'new_comment', article %}
      <!-- show errors (if any) -->
      {% if form.errors %}
        Please check errors!
        <ul>
          {% for error in form.errors %}
            <li>{{ form.errors.messages[error] }}</li>
          {% endfor %}
        </ul>
      <!-- show success msg -->
      {% elsif form.posted_successfully? %}
        Comment posted successfully!
      {% endif %}

      <div>
        <div>
          <label id="comment_author">Name</label>
          <input
            placeholder="Your name"
            id="comment_author"
            name="comment[author]"
            type="text"
           
          >
        </div>
        <div>
          <label id="comment_email">Email</label>
          <input
            placeholder="Your email"
            id="comment_email"
            name="comment[email]"
            type="email"
           
          >
        </div>
        <div>
          <label id="comment_body">Comment</label>
          <textarea
            placeholder="Your comment"
            id="comment_body"
            name="comment[body]"
           
          ></textarea>
        </div>
        <div>
          <input type="submit" value="Post comment">
        </div>
      </div>
      <!-- <div
       
        x-data="{ fields: {
          1: { key: 'comment[author]', placeholder: 'Your name' },
          2: { key: 'email', placeholder: 'Your email' }
        } }"
      >
        <template x-for="[id, field] in Object.entries(fields)" :key="id">
          <div>
            <label
              x-bind:for="id"
             
              x-text="field.placeholder"
            ></label>
            <input :placeholder="field.placeholder" x-bind:name="id" type="text">
          </div>
        </template>
      </div> -->
    {% endform %}
  </div>
{% endif %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "articleBody": {{ article.content | strip_html | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article.image | img_url: "medium" | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: format: "default" | json }},
    "dateCreated": {{ article.created_at | date: format: "default" | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "Template Article",
  "tag": "section",
  "class": "dummy",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "default": true,
      "label": "Show article author"
    },
    {
      "type": "checkbox",
      "id": "enable_date",
      "default": true,
      "label": "Show article date"
    }
  ],
  "blocks": [
    {
      "type": "bla_article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}